<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet"
            href="LoginCss.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <title>Login</title>
</head>
<body class="text-center">
    <div class="singlePageContainer container">
        <form class="form-signin">
            <!--    Hier kann ein Bild/Logo hinzugefügt werden-->
            <img class="mb-4" src="https://cdn1.iconfinder.com/data/icons/smashicons-medical-yellow-vol-3/60/132_-Penis-_medical_health_healthcare-512.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Bitte anmelden</h1>
            <label for="inputUsername" class="sr-only">Benutzername</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Benutzer" required autofocus>

            <label for="inputPassword" class="sr-only">Passwort</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Passwort" required>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Angemeldet bleiben
                </label>
            </div>
            <div class="checkbox mb-3">
                <a href="RegisterPage.html">Neuen Benutzer anlegen</a>
            </div>
        </form>
        <button class="btn btn-lg btn-primary btn-block" onclick="login()">Anmelden</button>
        <p>Ergebnis: </p>
        <div id="testfield"></div>
    </div>
    <script>
        var rootURL = "http://localhost:8080";
        function login() {
            var userName = document.getElementById('inputUsername').value;
            var password = document.getElementById('inputPassword').value;
            var callurl = rootURL + "/auth" + "?name=" + userName + "&password=" + password;
            console.log(callurl);
            $.getJSON(callurl, {
                format: "json"
            }).done(function (data){
                if (data == true){
                    window.location = rootURL + "/RegisterPage.html"
                } else {
                    $('#testfield').html("Login fehlgeschlagen")
                }
            });
        }
    </script>
</body>
</html>